body{
    display: flex;
    justify-content: center;
}
.wrap{
    display:flex;
    justify-content: center;
    width: 1200px;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap
    }
.post-card{
    width: 200px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid;

}
.post-card > h3 {
    height: 75px;
    margin-bottom: 10px;
}
.post-card > p{
font-style: italic;}